<section class="px-5 md:my-40 my-20 overflow-hidden" id="tickets">
	<div class="text-center main-wrapper max-w-[1060px] m-auto w-full">
		<h2 class="text-with-pattern pt-3 h1 lg:px-0 mb-10 lg:mb-16">
			{% for letter in block.heading | split(' ') %}
				<span class="text-pink">{{ letter }}</span>
			{% endfor %}
		</h2>
		<div class="w-full px-5 lg:w-3/4 mt-10 mb-14 lg:mt-10 lg:m-auto description">{{ block.description }}</div>
	</div>
	<div class="relative main-wrapper">

		{{ block.code|raw }}
	</div>
</section>
