<section class="relative">
	<div class="h-screen {% if entry.slug == 'homepage' %}max-h-[1000px] {% else %} max-h-[760px] {% endif %} w-full z-0 relative">
		{% if entry is defined and entry.slug == 'homepage' %}
			<video class="object-cover videoFade h-full w-full" autoplay loop muted>
				<source src="{{ siteUrl }}images/goodvibes-video.mp4" type="video/mp4"/>
				Your browser does not support the video tag.
			</video>
		{% else %}
			{% for asset in block.backgroundImage %}
				<div class="w-full h-full">
					<img class="w-full h-full object-cover" src="{{ asset.url }}" alt="{{ asset.title }}">
				</div>
			{% endfor %}
		{% endif %}

	</div>
	<div class="absolute h-full mt-10 w-full grid content-center z-10 left-0 top-0">
		<div class="text-center text-white uppercase max-w-[900px] m-auto">
			<h1 class="{% if entry is defined and entry.slug == 'homepage' %} header-fade-1 {% else %} nav-fade-3 {% endif %} lg:text-[150px] md:text-[100px] sm:text-[70px] text-[50px] ">{{ block.heading }}</h1>
			<p class="h4 text-[20px] header-fade-2 md:text-[30px]">{{ block.subHeading }}</p>
			{% if block.linkPage.getUrl() %}
				<a href="{{ block.linkPage.getUrl() }}" class="ticket-btn hover:scale-110 transition-all duration-30">{{ block.linkPage.getCustomText() }}</a>
			{% endif %}
		</div>
	</div>
	<div class="absolute {% if entry is defined and entry.slug == 'homepage' %} header-fade-3 {% else %} nav-fade-1 {% endif %} grid z-10 bottom-0 w-full">
		<div class="flex mb-20 justify-self-center">
			<span class="uppercase mx-5 rushden text-white text-[20px]">{{ block.description }}
			</span>
			{# <a class="no-underline text-white hover:text-blue uppercase mx-5" href="{{ siteUrl }}">Surf</a>
																																																<a class="no-underline text-white hover:text-green uppercase mx-5" href="{{ siteUrl }}">Soccer</a> #}
		</div>
	</div>
</section>
