<section class="relative lg:mb-40 mb-20">

	<div class="text-center w-full grid content-center md:py-44 py-20 z-10">
		{% for asset in block.backgroundImage %}
			<img class="absolute top-0 h-full lg:max-h-full w-full object-cover" src="{{ asset.url }}" alt="{{ asset.title }}">
		{% endfor %}
		<div class="px-[50px] main-wrapper xl:px-[220px] m-auto">
			<div>
				<h2 class="text-with-pattern h1 lg:px-0 mb-10 lg:mb-16">
					{% for letter in block.heading | split(' ') %}
						<span class="bgClip">{{ letter }}</span>
					{% endfor %}
				</h2>
			</div>
			<div class="mb-20 lg:mb-36 w-full lg:w-2/3 m-auto text-white">{{ block.description }}</div>
			<div class="grid items-center grid-cols-2 md:grid-cols-3 m-auto justify-between">
				{% for asset in block.sponsors %}
					<a class="mb-10 hover:scale-110 transition-all duration-300 lg:mb-20" href="{{ asset.linkPage.getUrl() }}" target="_blank">
						<div class="w-[100px] m-auto md:h-auto lg:w-[190px]">
							<img class="w-full h-full object-contain" src="{{ asset.url }}" alt="{{ asset.title }}">
						</div>
					</a>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
