<section class="px-5 md:my-40 my-20 overflow-hidden">
	<div class="text-center main-wrapper max-w-[1060px] m-auto w-full">
		<h2 class="text-with-pattern pt-3 h1 lg:px-0 mb-10 lg:mb-16">
			{% for letter in block.heading | split(' ') %}
				<span class="bgClip">{{ letter }}</span>
			{% endfor %}
		</h2>
		<div class="w-full px-5 lg:w-3/4 mt-10 mb-14 lg:mt-10 lg:m-auto description">{{ block.description }}</div>
	</div>
	<div class="relative main-wrapper">
		<div class="absolute top-0 z-0 lg:h-[280px]  mt-[-50px] lg:mt-[-100px] w-[700px] h-[200px] {% if (loop.index is odd) %} right-0 mr-[-400px] {% elseif (loop.index is even) %}right-0 mr-[-400px] lg:left-0 lg:ml-[-400px] {% endif %}																											    ">
			{% if (loop.index is odd) %}
				<img class="w-full h-full object-contain" src="{{ siteUrl }}patterns/leopard-pattern2.png" alt="sticker">
			{% else %}
				<img class="w-full h-full object-contain" src="{{ siteUrl }}patterns/leopard-pattern3.png" alt="sticker">
			{% endif %}
		</div>
		<p class="text-center text-pink w-1/2 lg:w-full my-20 h3">{{ block.imagesHeading }}</p>

		<div class="grid md:grid-cols-3 gap-5 lg:mt-20 mt-32  relative">
			{% for entries in block.listLineup %}

				<div class="mx-2 mb-4 main-button md:h-[400px] lg:h-[600px] relative bg-pink">
					{% if entries.linkPage.getUrl() %}
						<a href="{{ entries.linkPage.getUrl() }}">
						{% endif %}
						<div class="absolute darken-background z-0 w-full h-full top-0">
							{% for asset in entries.pattern %}
								<img class="w-full h-full object-cover" src="{{asset.url}}" alt="sticker">
							{% endfor %}
						</div>
						<div class="relative max-h-[800px] h-[360px] lg:h-[520px] bg-pink m-5 lg:m-10">

							<div class="bg-blue relative z-10 h-full">
								<div class="absolute main-button-sticker  transition duration-400 w-full z-30 h-[100px] lg:h-[130px] mt-[100px] lg:mt-10 top-0">
									{% for asset in entries.sticker %}
										<img class="w-full h-full  object-contain" src="{{ asset.url }}" alt="sticker">
									{% endfor %}
								</div>
								<div class="absolute w-full darken-background h-full">
									{% for asset in entries.backgroundImage %}
										<img class="w-full h-full object-cover" src="{{ asset.url }}" alt="sticker">
									{% endfor %}
								</div>
								<div class="absolute w-full bottom-0">
									<p class="text-center h2 mb-5 text-white">{{ entries.title }}</p>
									<div class="text-white mb-10 grid grid-cols-2">
										{% for events in entries.whatsHappening %}
											{% if loop.index is odd %}
												<div class="main-button-more">
													<p class="text-[12px] text-center">{{ events.heading }}</p>
												</div>
											{% else %}
												<div class="border-white main-button-more border-l-[1px] mb-4">
													<p class="text-[12px] text-center">{{ events.heading }}</p>
												</div>
											{% endif %}
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
						{% if entries.linkPage.getUrl() %}
						</a>
					{% endif %}
				</div>


			{% endfor %}
		</div>
	</div>
</section>
