{%- minify -%}
<!DOCTYPE html>
<html lang="en-US">
	<head>
		<link rel="shortcut icon" type="image/x-icon" href="{{ siteUrl }}images/favicon.ico">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta charset="utf-8"/>
		<title>Good Vibrations
			{{ "now"|date('Y') }}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"/>
		<meta name="referrer" content="origin-when-cross-origin"/>

		<style>
			@font-face {
				font-family: "HellixTRIAL-Regular";
				src: url("{{ siteUrl }}fonts/Hellix/HellixTRIAL-Regular.woff2") format("woff2");
				src: url("{{ siteUrl }}fonts/Hellix/HellixTRIAL-Regular.woff") format("woff");
				font-weight: 300;
				font-style: normal;
				font-display: swap;
			}

			@font-face {
				font-family: "rushen";
				src: url("{{ siteUrl }}fonts/rushen/rushen-curvy.woff2") format("woff2");
				src: url("{{ siteUrl }}fonts/rushen/rushen-curvy.woff") format("woff");
				font-weight: 300;
				font-style: normal;
				font-display: swap;
			}


			.hidebeforeload {
				display: none;
			}
		</style>

		{{ craft.twigpack.includeCssModule("app.css") }}

	</head>

	<body data-barba="wrapper">

		<main data-barba="container" data-barba-namespace="{{ namespace | default('home') }}">
			{% include "_globals/navigation.twig" %}
			{% block content %}{% endblock %}
		</main>
		{% include "/_globals/footer.twig" %}
		<script>
			window.siteUrl = "{{ siteUrl }}"
		</script>
		{{ craft.twigpack.includeSafariNomoduleFix() }}
		{{ craft.twigpack.includeJsModule("chunk-vendors.js", true, { async: true, defer: true }) }}
		{# {{ craft.twigpack.includeJsModule("chunk-jquery.js", true, { async: true, defer: true }) }} #}
		{{ craft.twigpack.includeJsModule("app.js", true) }}

	</body>
</html>
{%- endminify -%}
