{% extends "_layout.twig" %}
{% import "/_macros/button.twig" as button %}
{% block content %}

	{% for block in entry.pageMatrix.all() %}
		{% if block.type == "header" %}
			{% include "_includes/header.twig" %}
		{% elseif block.type == "introText" %}
			{% include "_includes/intro-text.twig" %}
		{% elseif block.type == "textImages" %}
			{% include "_includes/text-images.twig" %}
		{% elseif block.type == "lineup" %}
			{% include "_includes/lineup.twig" %}
		{% elseif block.type == "embedCode" %}
			{% include "_includes/embed-code.twig" %}
		{% endif %}
	{% endfor %}

{% endblock %}
