<nav id="footer" class="bg-green  relative z-10">

	<div class="container mx-auto pt-20 wrapper self-center text-white">

		<div class=" flex-wrap overflow-hidden sm:-mx-1 md:-mx-px lg:-mx-2 xl:-mx-2">
			<div class="md:hidden grid mb-10">
				<a class="w-full h-[200px]" href="{{siteUrl}}">
					<img class="h-full w-full object-contain" src="{{siteUrl}}/images/gv-logo.png" alt="Logo">
				</a>
			</div>

			<div class="grid grid-cols-2 md:flex mb-10 justify-between">
				<div class="hidden md:grid">
					<a href="{{siteUrl}}">
						<img style="max-width: 70%;height:auto;" src="{{siteUrl}}/images/gv-logo.png" alt="Logo">
					</a>
				</div>
				<div class="mb-10 lg:mb-0">
					<p class="text-white mb-3 h4 text-[16px] font-bold">Follow us</p>
					<p class="hover:text-blue-light text-[14px]">
						<a class="hover:text-pink no-underline" href="https://www.instagram.com/goodvibrationsjersey/">Instagram</a>
					</p>
					<p class="hover:text-blue-light text-[14px]">
						<a class="hover:text-pink no-underline" href="https://www.facebook.com/goodvibrationsjersey">Facebook</a>
					</p>

				</div>
				{# <div class="mb-10 lg:mb-0">
									<p class="text-white h4 text-[16px] mb-3 font-bold">Days</p>
									<div class="flex ">
										<ul class="self-center">
											<li class=" text-[14px]">
												<a class="text-white hover:text-pink hover:text-blue-light text-small" href="{{ siteUrl }}friday">Friday</a>
											</li>
											<li class=" text-[14px]">
												<a class="text-white hover:text-pink hover:text-blue-light text-small" href="{{ siteUrl }}saturday">Saturday</a>
											</li>
											<li class=" text-[14px]">
												<a class="text-white hover:text-pink hover:text-blue-light text-small" href="{{ siteUrl }}sunday">Sunday</a>
											</li>
										</ul>
									</div>
								</div> #}


			</div>

			<div class="mb-3">
				<p class="text-white text-[12px] text-center md:text-[14px] md:mt-0">Copyright ©
					{{ "now"|date('Y') }}. Good Vibrations Surf Music Festival. All rights reserved.</p>
			</div>
		</div>
	</div>
</nav>
