<nav>
	<div
		class="relative {% if entry is defined and entry.slug == 'homepage' %} header-fade-3 {% else %} nav-fade-5 {% endif %} z-[60]">

		{# Mob Nav #}

		<div class="fixed mobile-nav z-[200] overflow-y-auto h-full hidden menu w-full top-0 left-0 bg-purple">
			<div class="absolute items-center z-[300] w-full top flex justify-between pt-10 px-5">
				<div class="hover:opacity-80 h-[85px] cursor-pointer toggle-btn menu-btn">
					<a href="{{siteUrl}}">
						<img class="h-full w-full object-contain" src="{{siteUrl}}images/gv-logo.png" alt="logo">
					</a>
				</div>
				<div class="lg:hidden toggle-btn menu-btn lg:mr-24 lg:order-2 absolute top-5 right-5 max-w-[100px]">
					<a class="text-blue-darkBg relative inline-block rounded-lg w-full lg:mr-5 text-center  transition ease-in-out ">
						<div class="relative z-0 h-full w-full">
							<img class="w-full h-full object-cover" src="{{siteUrl}}images/pink-blob.png" alt="Charity Button">
						</div>
						<div class="absolute h1 text-white z-20 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full">
							<p class="text-[16px]">Close</p>
						</div>
					</a>
				</div>

			</div>


			<div class="mt-[170px]">
				<div class="my-10 px-5">
					<p class="h1 mb-5 w-full fadeLeft-1 text-center text-white text-[30px]">Days</p>
					<div class="relative z-20 w-full h-full grid ">
						<div class="h-[200px] my-5 nav-fade-1 relative rounded-2xl ">
							<a class="" href="https://ticketarena.festicket.com/events/gv-the-after-party/2023/shop/">
								<div class="relative shadow-lg drop-shadow-lg rounded-2xl h-[200px] object-contain">
									<img class="w-full h-full rounded-2xl hover:opacity-100  mix-blend-darken object-cover" src="{{ siteUrl }}images/friday-bg.jpg" alt="">
								</div>
								<div class="text-white text-center h1 grid items-center absolute w-full h-full top-0">
									<p class="text-[20px]">Tickets</p>
								</div>
							</a>
						</div>
						{# <div class="nav-fade-2 my-5 h-[200px] relative rounded-2xl ">
																			<a href="{{ siteUrl }}saturday">
																				<div class="w-full relative shadow-lg drop-shadow-lg rounded-2xl  h-[200px] object-contain">
																					<img class="w-full h-full rounded-2xl hover:opacity-100  mix-blend-darken object-cover" src="{{ siteUrl }}images/sat-bg.jpg" alt="">
																				</div>
																				<div class="text-white text-center h1 grid items-center absolute w-full h-full top-0">
																					<p class="text-[20px]">Saturday</p>
																				</div>
																			</a>
																		</div>
																		<div class="h-[200px] my-5 nav-fade-3 relative rounded-2xl ">
																			<a href="{{ siteUrl }}sunday">
																				<div class="w-full relative shadow-lg overflow-hidden hover:scale drop-shadow-lg rounded-2xl  h-[200px] object-contain">
																					<img class="w-full h-full scale-110 rounded-2xl hover:opacity-100  mix-blend-darken object-cover" src="{{ siteUrl }}images/sun-bg.jpg" alt="">
																				</div>
																				<div class="text-white text-center h1 grid items-center absolute w-full h-full top-0">
																					<p class="text-[20px]">Sunday</p>
																				</div>
																			</a>
																		</div> #}
					</div>
				</div>


				<div class=" z-[900] mt-32 text-center mb-5 w-full m-auto bottom-0" style="border-top:1px solid white">
					<hr class="border-white mx-5">
					<div class="flex mt-5 justify-center">
						<a href="">
							<svg class="mx-2 h-6" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16.455 16.455">
								<path id="Path_37" data-name="Path 37" d="M8.227,1.463a25.227,25.227,0,0,1,3.291.091,4.24,4.24,0,0,1,1.554.274,3.21,3.21,0,0,1,1.554,1.554A4.24,4.24,0,0,1,14.9,4.936c0,.823.091,1.1.091,3.291a25.226,25.226,0,0,1-.091,3.291,4.24,4.24,0,0,1-.274,1.554,3.21,3.21,0,0,1-1.554,1.554,4.24,4.24,0,0,1-1.554.274c-.823,0-1.1.091-3.291.091A25.226,25.226,0,0,1,4.936,14.9a4.24,4.24,0,0,1-1.554-.274,3.21,3.21,0,0,1-1.554-1.554,4.24,4.24,0,0,1-.274-1.554c0-.823-.091-1.1-.091-3.291a25.227,25.227,0,0,1,.091-3.291,4.24,4.24,0,0,1,.274-1.554,3.283,3.283,0,0,1,.64-.914,1.546,1.546,0,0,1,.914-.64,4.24,4.24,0,0,1,1.554-.274,25.227,25.227,0,0,1,3.291-.091M8.227,0A27.01,27.01,0,0,0,4.845.091,5.644,5.644,0,0,0,2.834.457a3.579,3.579,0,0,0-1.463.914A3.579,3.579,0,0,0,.457,2.834,4.165,4.165,0,0,0,.091,4.845,27.01,27.01,0,0,0,0,8.227,27.01,27.01,0,0,0,.091,11.61a5.644,5.644,0,0,0,.366,2.011,3.579,3.579,0,0,0,.914,1.463A3.579,3.579,0,0,0,2.834,16a5.644,5.644,0,0,0,2.011.366,27.01,27.01,0,0,0,3.382.091,27.01,27.01,0,0,0,3.382-.091A5.644,5.644,0,0,0,13.621,16,3.835,3.835,0,0,0,16,13.621a5.644,5.644,0,0,0,.366-2.011c0-.914.091-1.188.091-3.382a27.01,27.01,0,0,0-.091-3.382A5.644,5.644,0,0,0,16,2.834a3.579,3.579,0,0,0-.914-1.463A3.579,3.579,0,0,0,13.621.457,5.644,5.644,0,0,0,11.61.091,27.01,27.01,0,0,0,8.227,0m0,4.022A4.137,4.137,0,0,0,4.022,8.227,4.205,4.205,0,1,0,8.227,4.022m0,6.947A2.693,2.693,0,0,1,5.485,8.227,2.693,2.693,0,0,1,8.227,5.485,2.693,2.693,0,0,1,10.97,8.227,2.693,2.693,0,0,1,8.227,10.97m4.388-8.136a1.006,1.006,0,1,0,1.006,1.006,1.014,1.014,0,0,0-1.006-1.006" fill="#fff" fill-rule="evenodd"/>
							</svg>
						</a>
						<a href="">
							<svg class="mx-2 h-6" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16.455 13.347">
								<path id="Path_36" data-name="Path 36" d="M43.211,15.346a9.513,9.513,0,0,0,9.6-9.6V5.291a7.431,7.431,0,0,0,1.645-1.737,7.589,7.589,0,0,1-1.92.548A3.557,3.557,0,0,0,54,2.274a8.385,8.385,0,0,1-2.1.823A3.265,3.265,0,0,0,49.427,2a3.435,3.435,0,0,0-3.382,3.382,1.782,1.782,0,0,0,.091.731,9.451,9.451,0,0,1-6.947-3.565,3.5,3.5,0,0,0-.457,1.737,3.632,3.632,0,0,0,1.463,2.834,3.082,3.082,0,0,1-1.554-.457h0a3.341,3.341,0,0,0,2.742,3.291,2.818,2.818,0,0,1-.914.091,1.556,1.556,0,0,1-.64-.091,3.463,3.463,0,0,0,3.2,2.377,6.9,6.9,0,0,1-4.205,1.463A2.531,2.531,0,0,1,38,13.7a8.628,8.628,0,0,0,5.211,1.645" transform="translate(-38 -2)" fill="#fff" fill-rule="evenodd"/>
							</svg>
						</a>
						<a href="">
							<svg class="mx-2 h-6" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 8.593 16.455">
								<path id="Path_35" data-name="Path 35" d="M85.576,16.455v-7.5h2.56L88.5,6.033H85.576V4.205c0-.823.274-1.463,1.463-1.463h1.554V.091C88.227.091,87.313,0,86.308,0A3.529,3.529,0,0,0,82.56,3.839V6.033H80V8.959h2.56v7.5Z" transform="translate(-80)" fill="#fff" fill-rule="evenodd"/>
							</svg>
						</a>
					</div>
				</div>

			</div>


		</div>

		{# Main Nav #}

		<div id="main-header" class="w-full mob-menu overflow-hidden fixed flex flex-wrap justify-between items-center ">
			<div class="mb-0 hover:scale-110 transition-all duration-300 logo relative z-50">
				<a href="{{siteUrl}}">
					<img class="object-contain h-full w-full" src="{{siteUrl}}images/gv-logo.png" alt="logo">
				</a>
			</div>

			{# <div class="mb-0 hidden lg:flex relative z-50">
							<div class="mx-5 hover:scale-110 transition-all duration-300 text-center">
								<a class="no-underline" href="{{siteUrl}}friday">
									<svg class="w-full mb-3" xmlns="http://www.w3.org/2000/svg" width="28.156" height="33.442" viewbox="0 0 28.156 33.442">
										<g id="Group_164042" data-name="Group 164042" transform="translate(0 0)">
											<path id="Path_7601" data-name="Path 7601" d="M16.3,108.546a3.64,3.64,0,0,1-1.767,1.3,2.846,2.846,0,0,1-2.2-.256c0,.233.016.44,0,.644a3.249,3.249,0,0,1-1.226,2.414,2.423,2.423,0,0,1-3.687-.867,4.318,4.318,0,0,1-.419-2.446,16.508,16.508,0,0,0,.2-1.858,3.022,3.022,0,0,0-.423-1.59,1.559,1.559,0,0,0-.45-.457A13.974,13.974,0,0,1,.6,97.72a13.317,13.317,0,0,1-.594-4.414,14.035,14.035,0,0,1,3.6-9.022,12.794,12.794,0,0,1,3.127-2.607,2.472,2.472,0,0,1,2.879.206c.108.084.144.076.221-.034a1.928,1.928,0,0,1,2.925-.389c.227.184.222.182.364-.062a3.2,3.2,0,0,1,1.919-1.58,2.968,2.968,0,0,1,1.433-.011,15.112,15.112,0,0,1,3.872,1.34,14.165,14.165,0,0,1,6.433,6.5,13.473,13.473,0,0,1,1.27,4.3,13.678,13.678,0,0,1,.055,2.873,14,14,0,0,1-3.219,7.834,12.348,12.348,0,0,1-1.784,1.8,2.625,2.625,0,0,0-.9,1.52A8.23,8.23,0,0,0,22.113,109a4.543,4.543,0,0,1-.181,2.349A2.348,2.348,0,0,1,18.65,112.6a2.607,2.607,0,0,1-1.057-1.126,13.751,13.751,0,0,1-.719-1.741,9.288,9.288,0,0,0-.465-1.039.313.313,0,0,0-.106-.146M27.04,93.685a10.791,10.791,0,0,0-.083-1.48,12.6,12.6,0,0,0-.7-2.935,12.826,12.826,0,0,0-4.113-5.653A13.961,13.961,0,0,0,16.274,80.9a1.825,1.825,0,0,0-1.994.766,3.1,3.1,0,0,0-.41.8,1.73,1.73,0,0,1-.373.643.356.356,0,0,1-.476.09,1.67,1.67,0,0,1-.548-.451,2.633,2.633,0,0,0-.558-.521.806.806,0,0,0-1.1.167,2.132,2.132,0,0,0-.359.671,3.7,3.7,0,0,1-.31.7c-.131.213-.176.218-.357.048-.041-.039-.078-.083-.115-.125-.16-.179-.275-.389-.418-.58a1.452,1.452,0,0,0-2.081-.4A11.526,11.526,0,0,0,5.466,84a12.931,12.931,0,0,0-4.334,9.162,11.957,11.957,0,0,0,.4,3.759A12.867,12.867,0,0,0,7,104.525a2.377,2.377,0,0,1,.578.548,4.217,4.217,0,0,1,.725,3.02c-.041.526-.186,1.039-.2,1.569a3.229,3.229,0,0,0,.241,1.463,1.363,1.363,0,0,0,2.487.206,2.691,2.691,0,0,0,.4-1.775,4.557,4.557,0,0,1-.018-1.255c.062-.329.168-.382.49-.282a5.386,5.386,0,0,1,1.08.532,1.719,1.719,0,0,0,2.022-.08,3.494,3.494,0,0,0,.749-.787,1.678,1.678,0,0,1,.363-.381.619.619,0,0,1,.786-.012,2,2,0,0,1,.557.636,12.745,12.745,0,0,1,.948,2.178,4.177,4.177,0,0,0,.592,1.18,1.208,1.208,0,0,0,2.031-.209,2.753,2.753,0,0,0,.226-1.427c-.026-.453-.114-.9-.139-1.354a8.352,8.352,0,0,1,.279-2.864,3.5,3.5,0,0,1,1.133-1.781,12.035,12.035,0,0,0,1.613-1.61,12.9,12.9,0,0,0,3.1-8.355" transform="translate(0 -79.724)" fill="#4fbad9"/>
											<path id="Path_7602" data-name="Path 7602" d="M28.264,94.917a12.907,12.907,0,0,1-3.1,8.355,12.039,12.039,0,0,1-1.614,1.61,3.5,3.5,0,0,0-1.132,1.78,8.365,8.365,0,0,0-.28,2.864c.025.454.113.9.14,1.354a2.755,2.755,0,0,1-.227,1.428,1.208,1.208,0,0,1-2.031.208,4.167,4.167,0,0,1-.592-1.18,12.688,12.688,0,0,0-.948-2.178,1.987,1.987,0,0,0-.557-.636.618.618,0,0,0-.786.012,1.7,1.7,0,0,0-.363.38,3.483,3.483,0,0,1-.748.787,1.719,1.719,0,0,1-2.022.08,5.352,5.352,0,0,0-1.08-.532c-.322-.1-.428-.047-.49.282a4.541,4.541,0,0,0,.018,1.255,2.687,2.687,0,0,1-.4,1.775,1.363,1.363,0,0,1-2.486-.206,3.229,3.229,0,0,1-.242-1.463c.011-.53.156-1.043.2-1.569A4.221,4.221,0,0,0,8.8,106.3a2.4,2.4,0,0,0-.579-.548,12.869,12.869,0,0,1-5.461-7.6,11.958,11.958,0,0,1-.4-3.759A12.93,12.93,0,0,1,6.69,85.231,11.546,11.546,0,0,1,8.4,83.94a1.452,1.452,0,0,1,2.082.4c.143.191.259.4.418.579.038.042.074.086.115.125.182.171.227.165.357-.048a3.728,3.728,0,0,0,.31-.7,2.129,2.129,0,0,1,.359-.671.806.806,0,0,1,1.1-.167,2.647,2.647,0,0,1,.558.521,1.672,1.672,0,0,0,.548.452.356.356,0,0,0,.476-.091A1.731,1.731,0,0,0,15.1,83.7a3.1,3.1,0,0,1,.41-.8,1.825,1.825,0,0,1,1.993-.766,13.97,13.97,0,0,1,5.87,2.717A12.822,12.822,0,0,1,27.48,90.5a12.632,12.632,0,0,1,.7,2.935,10.8,10.8,0,0,1,.083,1.48m-.824-.016a15.223,15.223,0,0,0-.107-1.546,11.914,11.914,0,0,0-.875-3.166,12.05,12.05,0,0,0-3.5-4.6,13.007,13.007,0,0,0-5.607-2.634,1.006,1.006,0,0,0-1.21.486,2.241,2.241,0,0,0-.247.5,2.971,2.971,0,0,1-.469.863,1.22,1.22,0,0,1-1.6.346,2.427,2.427,0,0,1-.7-.561c-.11-.122-.226-.24-.337-.361-.076-.083-.134-.066-.18.028s-.1.193-.134.294a3.713,3.713,0,0,1-.537,1.075.9.9,0,0,1-1.31.178,2.242,2.242,0,0,1-.486-.5c-.132-.178-.247-.368-.389-.537a.6.6,0,0,0-.887-.14,11.737,11.737,0,0,0-2.771,2.4A12.111,12.111,0,0,0,3.179,94.66a11.461,11.461,0,0,0,.493,3.659,12.04,12.04,0,0,0,4.965,6.713,3.553,3.553,0,0,1,1.109,1.181,5.384,5.384,0,0,1,.561,3.576,7.191,7.191,0,0,0-.15,1.435,1.723,1.723,0,0,0,.3,1.009.47.47,0,0,0,.691.1.911.911,0,0,0,.264-.308,2.247,2.247,0,0,0,.191-1.375,4.216,4.216,0,0,1,.02-1.323,1.076,1.076,0,0,1,.868-.934,1.62,1.62,0,0,1,.881.13,12.346,12.346,0,0,1,1.194.611.831.831,0,0,0,.886-.051,2.488,2.488,0,0,0,.622-.624,3.063,3.063,0,0,1,.469-.515,1.483,1.483,0,0,1,1.977-.018,2.878,2.878,0,0,1,.594.676,10,10,0,0,1,.919,1.967,8.094,8.094,0,0,0,.545,1.3.441.441,0,0,0,.469.265c.209-.034.278-.2.329-.369a3.121,3.121,0,0,0,.024-1.318,9.665,9.665,0,0,1,.183-3.883,4.277,4.277,0,0,1,1.371-2.262,11.642,11.642,0,0,0,.973-.9,12.172,12.172,0,0,0,3.512-8.5" transform="translate(-1.225 -80.956)" fill="#040506"/>
											<path id="Path_7603" data-name="Path 7603" d="M28.357,95.819a12.172,12.172,0,0,1-3.512,8.5,11.642,11.642,0,0,1-.973.9A4.277,4.277,0,0,0,22.5,107.48a9.665,9.665,0,0,0-.183,3.883,3.121,3.121,0,0,1-.024,1.318c-.051.173-.12.335-.329.369a.441.441,0,0,1-.469-.265,8.094,8.094,0,0,1-.545-1.3,10,10,0,0,0-.919-1.967,2.878,2.878,0,0,0-.594-.676,1.483,1.483,0,0,0-1.977.018,3.063,3.063,0,0,0-.469.515,2.488,2.488,0,0,1-.622.624.831.831,0,0,1-.886.051,12.349,12.349,0,0,0-1.194-.611,1.62,1.62,0,0,0-.881-.13,1.076,1.076,0,0,0-.868.934,4.216,4.216,0,0,0-.02,1.323,2.247,2.247,0,0,1-.191,1.375.911.911,0,0,1-.264.308.47.47,0,0,1-.691-.1,1.723,1.723,0,0,1-.3-1.009,7.191,7.191,0,0,1,.15-1.435,5.383,5.383,0,0,0-.561-3.576,3.553,3.553,0,0,0-1.109-1.181,12.04,12.04,0,0,1-4.965-6.713,11.461,11.461,0,0,1-.493-3.659,12.111,12.111,0,0,1,2.917-7.634,11.737,11.737,0,0,1,2.771-2.4.6.6,0,0,1,.887.14c.142.169.257.359.389.537a2.242,2.242,0,0,0,.486.5.9.9,0,0,0,1.31-.178,3.713,3.713,0,0,0,.537-1.075c.038-.1.088-.2.134-.294s.1-.111.18-.028c.111.121.227.238.337.361a2.428,2.428,0,0,0,.7.561,1.22,1.22,0,0,0,1.6-.346,2.971,2.971,0,0,0,.469-.863,2.241,2.241,0,0,1,.247-.5,1.006,1.006,0,0,1,1.21-.486,13.007,13.007,0,0,1,5.607,2.634,12.05,12.05,0,0,1,3.5,4.6,11.914,11.914,0,0,1,.875,3.166,15.223,15.223,0,0,1,.107,1.546" transform="translate(-2.14 -81.874)" fill="#4fbad9"/>
										</g>
									</svg>
			
									<p class="text-blue mb-0 text-[20px] leading-6">FRIDAY</p>
									<p class="text-white text-[15px] nav-date leading-3">24th</p>
								</a>
							</div>
							<div class="mx-5 hover:scale-110 transition-all duration-300 text-center">
								<a class="no-underline" href="{{siteUrl}}saturday">
									<svg class="w-full mb-3" xmlns="http://www.w3.org/2000/svg" width="28.156" height="33.442" viewbox="0 0 28.156 33.442">
										<g id="Group_164040" data-name="Group 164040" transform="translate(0 0)">
											<path id="Path_7589" data-name="Path 7589" d="M56.345,28.822a3.64,3.64,0,0,1-1.767,1.3,2.846,2.846,0,0,1-2.2-.256c0,.233.016.44,0,.644a3.249,3.249,0,0,1-1.226,2.414,2.423,2.423,0,0,1-3.687-.867,4.318,4.318,0,0,1-.419-2.446,16.508,16.508,0,0,0,.2-1.858,3.022,3.022,0,0,0-.423-1.59,1.559,1.559,0,0,0-.45-.457A13.974,13.974,0,0,1,40.644,18a13.318,13.318,0,0,1-.594-4.414,14.034,14.034,0,0,1,3.6-9.022,12.794,12.794,0,0,1,3.127-2.607,2.472,2.472,0,0,1,2.879.206c.108.084.144.076.221-.034A1.928,1.928,0,0,1,52.8,1.736c.227.184.222.182.364-.062A3.2,3.2,0,0,1,55.084.094,2.968,2.968,0,0,1,56.516.083a15.112,15.112,0,0,1,3.872,1.34,14.165,14.165,0,0,1,6.433,6.5,13.473,13.473,0,0,1,1.27,4.3,13.677,13.677,0,0,1,.055,2.873,14,14,0,0,1-3.219,7.834,12.349,12.349,0,0,1-1.784,1.8,2.625,2.625,0,0,0-.9,1.52,8.23,8.23,0,0,0-.091,3.028,4.543,4.543,0,0,1-.181,2.349,2.348,2.348,0,0,1-3.282,1.246,2.61,2.61,0,0,1-1.057-1.126,13.751,13.751,0,0,1-.719-1.741,9.287,9.287,0,0,0-.465-1.039.313.313,0,0,0-.106-.146m10.736-14.86A10.792,10.792,0,0,0,67,12.481a12.6,12.6,0,0,0-.7-2.935,12.826,12.826,0,0,0-4.113-5.653,13.961,13.961,0,0,0-5.869-2.717,1.825,1.825,0,0,0-1.994.766,3.1,3.1,0,0,0-.41.8,1.73,1.73,0,0,1-.373.643.356.356,0,0,1-.476.09,1.67,1.67,0,0,1-.548-.451,2.633,2.633,0,0,0-.558-.521.806.806,0,0,0-1.1.167,2.131,2.131,0,0,0-.359.671,3.683,3.683,0,0,1-.31.7c-.131.213-.176.218-.357.048-.041-.039-.078-.083-.115-.125-.16-.179-.275-.389-.418-.58a1.452,1.452,0,0,0-2.081-.4,11.525,11.525,0,0,0-1.71,1.292,12.931,12.931,0,0,0-4.334,9.162,11.957,11.957,0,0,0,.4,3.759,12.867,12.867,0,0,0,5.461,7.6,2.384,2.384,0,0,1,.578.548,4.219,4.219,0,0,1,.725,3.02c-.041.526-.186,1.039-.2,1.569a3.229,3.229,0,0,0,.241,1.463,1.363,1.363,0,0,0,2.487.206,2.691,2.691,0,0,0,.4-1.775,4.557,4.557,0,0,1-.018-1.255c.062-.329.168-.382.49-.282a5.386,5.386,0,0,1,1.08.532,1.719,1.719,0,0,0,2.022-.08,3.494,3.494,0,0,0,.749-.787,1.678,1.678,0,0,1,.363-.381.619.619,0,0,1,.786-.012,2,2,0,0,1,.557.636,12.744,12.744,0,0,1,.948,2.178,4.177,4.177,0,0,0,.592,1.18,1.208,1.208,0,0,0,2.031-.209,2.753,2.753,0,0,0,.226-1.427c-.026-.453-.114-.9-.139-1.354a8.352,8.352,0,0,1,.279-2.864,3.5,3.5,0,0,1,1.133-1.781,12.036,12.036,0,0,0,1.613-1.61,12.9,12.9,0,0,0,3.1-8.355" transform="translate(-40.041 0)" fill="#f1dc15"/>
											<path id="Path_7590" data-name="Path 7590" d="M68.306,15.193a12.907,12.907,0,0,1-3.1,8.355,12.039,12.039,0,0,1-1.614,1.61,3.5,3.5,0,0,0-1.132,1.78,8.366,8.366,0,0,0-.28,2.864c.025.454.113.9.14,1.354a2.755,2.755,0,0,1-.227,1.428,1.208,1.208,0,0,1-2.031.208,4.168,4.168,0,0,1-.592-1.18,12.689,12.689,0,0,0-.948-2.178,1.987,1.987,0,0,0-.557-.636.618.618,0,0,0-.786.012,1.7,1.7,0,0,0-.363.38,3.483,3.483,0,0,1-.748.787,1.719,1.719,0,0,1-2.022.08,5.352,5.352,0,0,0-1.08-.532c-.322-.1-.428-.047-.49.282a4.541,4.541,0,0,0,.018,1.255,2.687,2.687,0,0,1-.4,1.775,1.363,1.363,0,0,1-2.486-.206,3.229,3.229,0,0,1-.242-1.463c.011-.53.156-1.043.2-1.569a4.221,4.221,0,0,0-.725-3.02,2.4,2.4,0,0,0-.579-.548,12.869,12.869,0,0,1-5.461-7.6,11.958,11.958,0,0,1-.4-3.759,12.93,12.93,0,0,1,4.334-9.162,11.546,11.546,0,0,1,1.709-1.292,1.452,1.452,0,0,1,2.082.4c.143.191.259.4.418.579.038.042.074.086.115.125.182.171.227.165.357-.048a3.727,3.727,0,0,0,.31-.7,2.129,2.129,0,0,1,.359-.671.806.806,0,0,1,1.1-.167,2.647,2.647,0,0,1,.558.521,1.672,1.672,0,0,0,.548.452.356.356,0,0,0,.476-.091,1.731,1.731,0,0,0,.373-.642,3.1,3.1,0,0,1,.41-.8,1.825,1.825,0,0,1,1.993-.766,13.97,13.97,0,0,1,5.87,2.717,12.822,12.822,0,0,1,4.113,5.653,12.632,12.632,0,0,1,.7,2.935,10.8,10.8,0,0,1,.083,1.48m-.824-.016a15.22,15.22,0,0,0-.107-1.546,11.914,11.914,0,0,0-.875-3.166,12.05,12.05,0,0,0-3.5-4.6,13.007,13.007,0,0,0-5.607-2.634,1.006,1.006,0,0,0-1.21.486,2.241,2.241,0,0,0-.247.5,2.971,2.971,0,0,1-.469.863,1.22,1.22,0,0,1-1.6.347,2.428,2.428,0,0,1-.7-.561c-.11-.122-.226-.24-.337-.361-.076-.083-.134-.066-.18.028s-.1.193-.134.294A3.713,3.713,0,0,1,51.981,5.9a.9.9,0,0,1-1.31.178,2.242,2.242,0,0,1-.486-.5c-.132-.178-.247-.368-.389-.537a.6.6,0,0,0-.887-.14,11.737,11.737,0,0,0-2.771,2.4,12.111,12.111,0,0,0-2.917,7.634,11.461,11.461,0,0,0,.493,3.659,12.04,12.04,0,0,0,4.965,6.713,3.553,3.553,0,0,1,1.109,1.181,5.383,5.383,0,0,1,.561,3.576A7.192,7.192,0,0,0,50.2,31.5a1.723,1.723,0,0,0,.3,1.009.47.47,0,0,0,.691.1.911.911,0,0,0,.264-.308,2.247,2.247,0,0,0,.191-1.375,4.216,4.216,0,0,1,.02-1.323,1.076,1.076,0,0,1,.868-.934,1.62,1.62,0,0,1,.881.13,12.351,12.351,0,0,1,1.194.611.831.831,0,0,0,.886-.051,2.488,2.488,0,0,0,.622-.624,3.064,3.064,0,0,1,.469-.515,1.484,1.484,0,0,1,1.977-.018,2.878,2.878,0,0,1,.594.676,10,10,0,0,1,.919,1.967,8.093,8.093,0,0,0,.545,1.3.441.441,0,0,0,.469.265c.209-.034.278-.2.329-.369a3.121,3.121,0,0,0,.024-1.318,9.665,9.665,0,0,1,.183-3.883A4.277,4.277,0,0,1,63,24.577a11.642,11.642,0,0,0,.973-.9,12.172,12.172,0,0,0,3.512-8.5" transform="translate(-41.266 -1.232)" fill="#040506"/>
											<path id="Path_7591" data-name="Path 7591" d="M68.4,16.1a12.172,12.172,0,0,1-3.512,8.5,11.642,11.642,0,0,1-.973.9,4.277,4.277,0,0,0-1.371,2.262,9.665,9.665,0,0,0-.183,3.883,3.121,3.121,0,0,1-.024,1.318c-.051.173-.12.335-.329.369a.441.441,0,0,1-.469-.265,8.094,8.094,0,0,1-.545-1.3,10,10,0,0,0-.919-1.967,2.878,2.878,0,0,0-.594-.676,1.484,1.484,0,0,0-1.977.018,3.064,3.064,0,0,0-.469.515,2.488,2.488,0,0,1-.622.624.831.831,0,0,1-.886.051,12.349,12.349,0,0,0-1.194-.611,1.62,1.62,0,0,0-.881-.13,1.076,1.076,0,0,0-.868.934,4.216,4.216,0,0,0-.02,1.323,2.247,2.247,0,0,1-.191,1.375.911.911,0,0,1-.264.308.47.47,0,0,1-.691-.1,1.723,1.723,0,0,1-.3-1.009,7.191,7.191,0,0,1,.15-1.435,5.383,5.383,0,0,0-.561-3.576,3.553,3.553,0,0,0-1.109-1.181,12.04,12.04,0,0,1-4.965-6.713,11.461,11.461,0,0,1-.493-3.659A12.111,12.111,0,0,1,47.054,8.22a11.737,11.737,0,0,1,2.771-2.4.6.6,0,0,1,.887.14c.142.169.257.359.389.537a2.242,2.242,0,0,0,.486.5A.9.9,0,0,0,52.9,6.82a3.713,3.713,0,0,0,.537-1.075c.038-.1.088-.2.134-.294s.1-.111.18-.028c.111.121.227.238.337.361a2.428,2.428,0,0,0,.7.561A1.22,1.22,0,0,0,56.382,6a2.971,2.971,0,0,0,.469-.863,2.241,2.241,0,0,1,.247-.5,1.006,1.006,0,0,1,1.21-.486,13.007,13.007,0,0,1,5.607,2.634,12.05,12.05,0,0,1,3.5,4.6,11.914,11.914,0,0,1,.875,3.166A15.225,15.225,0,0,1,68.4,16.1" transform="translate(-42.182 -2.15)" fill="#f1dc15"/>
										</g>
									</svg>
			
									<p class="text-yellow mb-0 text-[20px] leading-6">SATURDAY</p>
									<p class="text-white nav-date text-[15px] leading-3">25th</p>
								</a>
							</div>
							<div class="mx-5 hover:scale-110 transition-all duration-300 text-center">
								<a class="no-underline" href="{{siteUrl}}sunday">
									<svg class="w-full mb-3" xmlns="http://www.w3.org/2000/svg" width="28.156" height="33.442" viewbox="0 0 28.156 33.442">
										<g id="Group_164041" data-name="Group 164041" transform="translate(0 0)">
											<path id="Path_7607" data-name="Path 7607" d="M176.469,108.546a3.64,3.64,0,0,1-1.767,1.3,2.846,2.846,0,0,1-2.2-.256c0,.233.016.44,0,.644a3.249,3.249,0,0,1-1.226,2.414,2.423,2.423,0,0,1-3.687-.867,4.318,4.318,0,0,1-.419-2.446,16.511,16.511,0,0,0,.2-1.858,3.022,3.022,0,0,0-.423-1.59,1.559,1.559,0,0,0-.45-.457,13.974,13.974,0,0,1-5.732-7.706,13.317,13.317,0,0,1-.594-4.414,14.035,14.035,0,0,1,3.6-9.022,12.794,12.794,0,0,1,3.127-2.607,2.472,2.472,0,0,1,2.879.206c.108.084.144.076.221-.034a1.928,1.928,0,0,1,2.925-.389c.227.184.222.182.364-.062a3.2,3.2,0,0,1,1.919-1.58,2.968,2.968,0,0,1,1.433-.011,15.112,15.112,0,0,1,3.872,1.34,14.165,14.165,0,0,1,6.433,6.5,13.473,13.473,0,0,1,1.27,4.3,13.678,13.678,0,0,1,.055,2.873,14,14,0,0,1-3.219,7.834,12.349,12.349,0,0,1-1.783,1.8,2.625,2.625,0,0,0-.9,1.52,8.23,8.23,0,0,0-.091,3.028,4.543,4.543,0,0,1-.181,2.349,2.348,2.348,0,0,1-3.282,1.246,2.607,2.607,0,0,1-1.057-1.126,13.752,13.752,0,0,1-.719-1.741,9.288,9.288,0,0,0-.465-1.039.313.313,0,0,0-.106-.146M187.2,93.685a10.792,10.792,0,0,0-.083-1.48,12.6,12.6,0,0,0-.7-2.935,12.826,12.826,0,0,0-4.113-5.653,13.961,13.961,0,0,0-5.869-2.717,1.825,1.825,0,0,0-1.994.766,3.1,3.1,0,0,0-.41.8,1.73,1.73,0,0,1-.373.643.356.356,0,0,1-.476.09,1.67,1.67,0,0,1-.548-.451,2.634,2.634,0,0,0-.558-.521.806.806,0,0,0-1.1.167,2.132,2.132,0,0,0-.359.671,3.7,3.7,0,0,1-.31.7c-.131.213-.176.218-.357.048-.041-.039-.078-.083-.115-.125-.16-.179-.275-.389-.418-.58a1.452,1.452,0,0,0-2.081-.4A11.525,11.525,0,0,0,165.631,84a12.931,12.931,0,0,0-4.334,9.162,11.957,11.957,0,0,0,.4,3.759,12.867,12.867,0,0,0,5.461,7.6,2.377,2.377,0,0,1,.578.548,4.217,4.217,0,0,1,.725,3.02c-.041.526-.186,1.039-.2,1.569a3.229,3.229,0,0,0,.241,1.463,1.363,1.363,0,0,0,2.487.206,2.691,2.691,0,0,0,.4-1.775,4.556,4.556,0,0,1-.018-1.255c.062-.329.168-.382.49-.282a5.386,5.386,0,0,1,1.08.532,1.719,1.719,0,0,0,2.022-.08,3.493,3.493,0,0,0,.749-.787,1.678,1.678,0,0,1,.363-.381.619.619,0,0,1,.786-.012,2,2,0,0,1,.557.636,12.744,12.744,0,0,1,.948,2.178,4.176,4.176,0,0,0,.592,1.18,1.208,1.208,0,0,0,2.031-.209,2.753,2.753,0,0,0,.226-1.427c-.026-.453-.114-.9-.139-1.354a8.351,8.351,0,0,1,.279-2.864,3.5,3.5,0,0,1,1.133-1.781,12.035,12.035,0,0,0,1.613-1.61,12.9,12.9,0,0,0,3.1-8.355" transform="translate(-160.165 -79.724)" fill="#db0366"/>
											<path id="Path_7608" data-name="Path 7608" d="M188.43,94.917a12.907,12.907,0,0,1-3.1,8.355,12.04,12.04,0,0,1-1.614,1.61,3.5,3.5,0,0,0-1.132,1.78,8.365,8.365,0,0,0-.28,2.864c.025.454.113.9.14,1.354a2.755,2.755,0,0,1-.227,1.428,1.208,1.208,0,0,1-2.031.208,4.167,4.167,0,0,1-.592-1.18,12.688,12.688,0,0,0-.948-2.178,1.987,1.987,0,0,0-.557-.636.618.618,0,0,0-.786.012,1.7,1.7,0,0,0-.363.38,3.483,3.483,0,0,1-.748.787,1.719,1.719,0,0,1-2.022.08,5.352,5.352,0,0,0-1.08-.532c-.322-.1-.428-.047-.49.282a4.54,4.54,0,0,0,.018,1.255,2.687,2.687,0,0,1-.4,1.775,1.363,1.363,0,0,1-2.486-.206,3.229,3.229,0,0,1-.242-1.463c.011-.53.156-1.043.2-1.569a4.221,4.221,0,0,0-.725-3.02,2.4,2.4,0,0,0-.578-.548,12.868,12.868,0,0,1-5.461-7.6,11.958,11.958,0,0,1-.4-3.759,12.931,12.931,0,0,1,4.334-9.162,11.546,11.546,0,0,1,1.709-1.292,1.452,1.452,0,0,1,2.082.4c.143.191.259.4.418.579.038.042.074.086.115.125.182.171.227.165.357-.048a3.728,3.728,0,0,0,.31-.7,2.129,2.129,0,0,1,.359-.671.806.806,0,0,1,1.1-.167,2.647,2.647,0,0,1,.558.521,1.672,1.672,0,0,0,.548.452.356.356,0,0,0,.476-.091,1.731,1.731,0,0,0,.373-.642,3.1,3.1,0,0,1,.41-.8,1.825,1.825,0,0,1,1.993-.766,13.97,13.97,0,0,1,5.87,2.717,12.822,12.822,0,0,1,4.113,5.653,12.631,12.631,0,0,1,.7,2.935,10.8,10.8,0,0,1,.083,1.48m-.824-.016a15.227,15.227,0,0,0-.107-1.546,11.914,11.914,0,0,0-.875-3.166,12.05,12.05,0,0,0-3.5-4.6,13.007,13.007,0,0,0-5.607-2.634,1.006,1.006,0,0,0-1.21.486,2.241,2.241,0,0,0-.247.5,2.97,2.97,0,0,1-.469.863,1.22,1.22,0,0,1-1.6.346,2.427,2.427,0,0,1-.7-.561c-.11-.122-.226-.24-.337-.361-.076-.083-.134-.066-.18.028s-.1.193-.134.294a3.713,3.713,0,0,1-.537,1.075.9.9,0,0,1-1.31.178,2.242,2.242,0,0,1-.486-.5c-.132-.178-.247-.368-.389-.537a.6.6,0,0,0-.887-.14,11.737,11.737,0,0,0-2.771,2.4,12.111,12.111,0,0,0-2.917,7.634,11.461,11.461,0,0,0,.493,3.659,12.04,12.04,0,0,0,4.965,6.713,3.553,3.553,0,0,1,1.109,1.181,5.383,5.383,0,0,1,.561,3.576,7.192,7.192,0,0,0-.15,1.435,1.723,1.723,0,0,0,.3,1.009.47.47,0,0,0,.691.1.911.911,0,0,0,.264-.308,2.247,2.247,0,0,0,.191-1.375,4.215,4.215,0,0,1,.02-1.323,1.076,1.076,0,0,1,.868-.934,1.62,1.62,0,0,1,.881.13,12.347,12.347,0,0,1,1.194.611.831.831,0,0,0,.886-.051,2.488,2.488,0,0,0,.622-.624,3.063,3.063,0,0,1,.469-.515,1.483,1.483,0,0,1,1.977-.018,2.878,2.878,0,0,1,.594.676,10,10,0,0,1,.919,1.967,8.093,8.093,0,0,0,.545,1.3.441.441,0,0,0,.469.265c.209-.034.278-.2.329-.369a3.121,3.121,0,0,0,.024-1.318,9.665,9.665,0,0,1,.184-3.883,4.277,4.277,0,0,1,1.371-2.262,11.64,11.64,0,0,0,.973-.9,12.172,12.172,0,0,0,3.512-8.5" transform="translate(-161.39 -80.956)" fill="#040506"/>
											<path id="Path_7609" data-name="Path 7609" d="M188.523,95.819a12.172,12.172,0,0,1-3.512,8.5,11.643,11.643,0,0,1-.973.9,4.277,4.277,0,0,0-1.371,2.262,9.664,9.664,0,0,0-.184,3.883,3.122,3.122,0,0,1-.024,1.318c-.051.173-.12.335-.329.369a.441.441,0,0,1-.469-.265,8.094,8.094,0,0,1-.545-1.3,10,10,0,0,0-.919-1.967,2.878,2.878,0,0,0-.594-.676,1.483,1.483,0,0,0-1.977.018,3.063,3.063,0,0,0-.469.515,2.488,2.488,0,0,1-.621.624.831.831,0,0,1-.886.051,12.349,12.349,0,0,0-1.194-.611,1.62,1.62,0,0,0-.881-.13,1.076,1.076,0,0,0-.868.934,4.216,4.216,0,0,0-.02,1.323,2.247,2.247,0,0,1-.191,1.375.91.91,0,0,1-.264.308.47.47,0,0,1-.691-.1,1.723,1.723,0,0,1-.3-1.009,7.191,7.191,0,0,1,.15-1.435,5.383,5.383,0,0,0-.561-3.576,3.553,3.553,0,0,0-1.109-1.181,12.04,12.04,0,0,1-4.965-6.713,11.461,11.461,0,0,1-.493-3.659,12.111,12.111,0,0,1,2.917-7.634,11.737,11.737,0,0,1,2.771-2.4.6.6,0,0,1,.887.14c.142.169.257.359.389.537a2.242,2.242,0,0,0,.486.5.9.9,0,0,0,1.31-.178,3.714,3.714,0,0,0,.537-1.075c.038-.1.088-.2.134-.294s.1-.111.18-.028c.111.121.227.238.337.361a2.428,2.428,0,0,0,.7.561,1.22,1.22,0,0,0,1.6-.346,2.971,2.971,0,0,0,.469-.863,2.241,2.241,0,0,1,.247-.5,1.006,1.006,0,0,1,1.21-.486,13.007,13.007,0,0,1,5.607,2.634,12.05,12.05,0,0,1,3.5,4.6,11.913,11.913,0,0,1,.875,3.166,15.223,15.223,0,0,1,.107,1.546" transform="translate(-162.306 -81.874)" fill="#db0366"/>
										</g>
									</svg>
			
									<p class="text-pink mb-0 text-[20px] leading-6">SUNDAY</p>
									<p class="text-white nav-date text-[15px] leading-3">26th</p>
								</a>
							</div>
			
						</div> #}

			<div class="hidden hover:scale-110 transition-all duration-300 relative lg:flex">
				<a class="donate-btn" href="https://www.mindjersey.org/donate" target="_blank">
					<div class="relative z-0 h-full w-full">
						<img class="w-full h-full object-cover" src="{{siteUrl}}images/pink-blob.png" alt="Charity Button"></div>
					<div class="absolute top-0 left-0 text-white place-items-center z-10 w-full h-full grid">
						<p class="text-[15px] mb-0">
							<span>Charity</span>
							Donate</p>
					</div>
				</a>
			</div>

			<div class="lg:hidden toggle-btn menu-btn lg:mr-24 lg:order-2 absolute top-5 right-5 max-w-[100px]">
				<a class="text-blue-darkBg relative inline-block rounded-lg w-full lg:mr-5 text-center  transition ease-in-out ">
					<div class="relative z-0 h-full w-full">
						<img class="w-full h-full object-cover" src="{{siteUrl}}images/pink-blob.png" alt="Charity Button">
					</div>
					<div class="absolute h1 text-white z-20 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full">
						<p class="text-[16px]">Menu</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</nav>
